@(userLogin:Form[LoginUser])(implicit messages: Messages, flash: Flash)

@if(userLogin.hasGlobalErrors) {
<ul>
    @for(error <- userLogin.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
    }
</ul>
}
<div style="background-color:red;">@flash.get("Error")</div>
@import helper._

@helper.form(action = routes.Authentication.loginCheck())   {
@helper.inputText(userLogin("username"), '_label -> "userName",'_showConstraints-> false)

@helper.inputPassword(userLogin("password"), '_label -> "Password",'_showConstraints-> false)

<button value="user" name="login" >Login</button>
<br />
<a href="@routes.UserProfileController.updatePassword()">Forgot Password??</a>

}
